/*header*/

@media (min-width : 64rem) {
.u-cf {
    background-image: url(https://research.tuni.fi/uploads/2019/01/1aa0739b-spm_logo_transp.png);
    background-size: 30%;
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: bottom;
}}

.u-cf {
    background-color:#4e008e;
    color: white;
}

a.header-main__title__link {
    color:white;
}

p.header-main__tagline {
    color: white;
}

button#header-search-toggle {
    color: white;
}


/*main*/
 @media (min-width : 1024px) {
.page {
    background-color: #2d5e80;
    background-image: url(https://research.tuni.fi/uploads/2019/01/9c8dac4d-10214_taustakuva.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 2rem
}}


#main-content {
    background-color:white;
}


/*footer*/
.footer-main{
    background-color:white;
}




/*contacts*/

.contacts {
    max-width: 37rem;
    margin: inherit;
}


.contacts__card__img-wrap {
    height: 100%;
    width: 75%;
    object-fit: contain;
    box-shadow: 0px 0px 20px 0px black;
    display: list-item;
}
